/*-------------------------------------------------------------------------------------------------DEFAULT-------------------------------------------------------------------------------------------------*/

@charset "UTF-08";

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid black;
}

:root {
    --color1: #FFFFFF;
    --color2: #000000;
    --color3: #0000ff;
    --color4: #00ff00;
    --color5: #ff0000;

    --default-space-between: 2rem;
}


body {
    height: 100%;
    line-height: 1.4;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(190deg, var(--color5), var(--color4), var(--color3));
}

.div-main {
    max-width: 75vh;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.flex-column-gap {
    gap: 1rem;
}

.form-flex-column-gap {
    gap: var(--default-space-between);
}

p, label {
    font-size: 1.2rem;
}

/*-------------------------------------------------------------------------------------------------HEADER-------------------------------------------------------------------------------------------------*/

header {
    margin: 0 auto;
    text-align: center;
    padding: var(--default-space-between);
}

/*-------------------------------------------------------------------------------------------------FORM-------------------------------------------------------------------------------------------------*/

form {
    padding-top: 40px;
    padding: var(--default-space-between);
    border-radius: 20px;
    margin: 0 auto 40px auto;
    background-color: var(--color1);
}

/* .margin-bottom {
    margin-bottom: 1rem;
} */

form input, select, textarea, button {
    padding: 10px;
    color: gray;
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid gray;
}

form textarea {
    font-size: 1.2rem
}

form p, label {
    font-weight: 600;
}

form .input-radio {
    transform: scale(1.2);
}

form button {
    width: 100%;
    height: 100%;
    padding: var(--default-space-between);
}



/*Falta: 
-terminar de estilisar o css;
-terminar de arrumar o html;
-inserir o conteudo do site;
talvez mudar a cor. Talvez usar mais o branco e o preto e deixar para as tres cores para detalhes.*/